
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <td>Continue</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("New Game", "NewGame", "Home", null, null)</td>
    </tr>
    <tr>
        <td>Credits</td>
    </tr>
    <tr>
        <td>Exit</td>
    </tr>
</table>

