
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <td>Manage Inventory</td>
    </tr>
    <tr>
        <td>Supply Chain</td>
    </tr>
    <tr>
        <td>Upgrade</td>
    </tr>
    <tr>
        <td>Advertise</td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td>Advance Week</td>
    </tr>
</table>
